appdirs==1.4.4
beautifulsoup4==4.12.2
bleach==6.0.0
CacheControl==0.13.1
certifi==2024.7.4
charset-normalizer==3.2.0
filelock==3.12.3
funcy==2.0
idna==3.7
lxml==4.9.3
msgpack==1.0.5
requests==2.32.0
six==1.16.0
soupsieve==2.4.1
urllib3==2.2.2
webencodings==0.5.1
